body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  background-color: rgb(29, 0, 56);
  color: rgb(245, 230, 255);
}

span {
  color: blueviolet;
}

img {
 border: 3px solid blueviolet;
 border-radius: 20px;
}

#heading-1 {
  margin-bottom: 0px;
}

.heading-2 {
  margin-top: 0px;
}

.role {
  margin-bottom: 0px;
}

.experience {
  margin-top: 0px;
}

.pic-btn {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(245, 230, 255);
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
}