
/* BASE STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bricolage Grotesque', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(25, 0, 45);
  color: rgb(245, 230, 255);
  margin: 30px;
}

span {
  color: blueviolet;
}

/* LISTS STYLES */
ul {
  list-style: none;
}

ol {
  list-style-position: inside;
  list-style: none;
}

/* li {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 35px
} */

.lists {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 35px
}

/* LINK STYLES */
a {
  text-decoration: none;
  color: rgb(245, 230, 255);
}



/* HEADER & NAV */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background-color: rgb(165, 65, 255);
  border-radius: 4rem;
  padding: 1rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  box-shadow: 0 2px 16px hsla(220, 90%, 8%, 0.3);
  overflow: hidden;
  transition: width 0.4s;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo, 
.nav__link {
  color: rgb(250, 245, 255);
  white-space: nowrap;
  transition: color 0.4s, opacity 0.4s;
}

.nav__logo:hover, 
.nav__link:hover {
  color: rgb(25, 0, 45);
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 0;
}

.nav__toggle {
  font-size: 1.5rem;
  color: rgb(250, 245, 255);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: rgb(250, 245, 255);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav__button {
  background-color: rgb(25, 0, 45);
  color: rgb(250, 245, 255);
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-inline: auto;
}

.nav__button:hover {
  color: rgb(25, 0, 45);
  background-color: rgb(245, 235, 255);
}

/* IMAGE */
img {
 border: 3px solid blueviolet;
 border-radius: 20px;
}


/* DARK MODE BUTTON */
.dark-mode-btn {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(245, 230, 255);
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-btn:hover {
  background-color: transparent;
  color: blueviolet;
  border: 2px solid blueviolet;
  cursor: pointer;
}



/* DOWNLOAD PICTURE BUTTON */
.pic-btn {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(245, 230, 255);
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pic-btn:hover {
  background-color: transparent;
  color: blueviolet;
  border: 2px solid blueviolet;
  cursor: pointer;
}



/* HOME HEADINGS */
.home-section {
  margin-top: 90px;
}

#heading-1 .role {
  margin-bottom: 0px;
}

.heading-2 .experience {
  margin-top: 0px;
}



/* NAVIGATION FOR MOBILE DEVICES */
@media (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 1rem;
    right: 1rem;
    background-color: rgb(165, 65, 255);
    padding-block: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 16px hsla(220, 90%, 8%, 0.3);
    z-index: 100;
    transition: top 0.4s;
  }

  /* SHOW MENU */
  .show-menu {
    top: 1rem;
  }
}

/* FOR MEDIUM DEVICES */
@media (width >= 540px) {
  .header,
  .nav__menu {
    width: 500px;
    margin-inline: auto;
  }
}

/* FOR LARGE DEVICES */
@media (width >= 1150px) {
  .header {
    width: 800px;
    padding: 1.625rem 1.5rem;
    top: 2rem;
  }

  .nav__logo {
    position: relative;
    z-index: 10;
  }

  .nav__menu {
    width: initial;
    margin: 0;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  
/* SCROLL NAV */
  .scroll-nav {
    width: 500px;
  }
  .scroll-nav .nav__link {
    opacity: 0;
    pointer-events: none;
  }
  .scroll-nav .nav__button {
    opacity: 1;
    pointer-events: initial;
  }
}
