body {
  font-family: 'Bricolage Grotesque', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  background-color: rgb(25, 0, 45);
  color: rgb(245, 230, 255);
}

ul {
  list-style-position: inside;
  list-style: none;
}

ol {
  list-style-position: inside;
  list-style: none;
}

li {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 35px
}

a {
  text-decoration: none;
  color: rgb(245, 230, 255);
}


span {
  color: blueviolet;
}

img {
 border: 3px solid blueviolet;
 border-radius: 20px;
}

.dark-mode-btn {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(245, 230, 255);
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-btn:hover {
  background-color: transparent;
  color: blueviolet;
  border: 2px solid blueviolet;
  cursor: pointer;
}

#heading-1 {
  margin-bottom: 0px;
}

.heading-2 {
  margin-top: 0px;
}

.role {
  margin-bottom: 0px;
}

.experience {
  margin-top: 0px;
}

.pic-btn {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(245, 230, 255);
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pic-btn:hover {
  background-color: transparent;
  color: blueviolet;
  border: 2px solid blueviolet;
  cursor: pointer;
}

/* HEADER & NAV */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  /* background-color: rgb(245, 230, 255); */
  color: rgb(25, 0, 45);
  text-decoration: none;
}