html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bricolage Grotesque', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(250, 245, 255); */
  background-color: ;
  margin: 30px;
}

ul {
  list-style-position: inside;
  list-style: none;
}

ol {
  list-style-position: inside;
  list-style: none;
}

li {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 35px
}

a {
  text-decoration: none;
  color: blueviolet;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellowgreen;
}

.nav__logo, 
.nav__link {
  white-space: nowrap;
  transition: color 0.4s, opacity 0.4s;
}

.nav__logo:hover, 
.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  border: none;
  background: blueviolet;
  outline: none;
  cursor: pointer;
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--white-color);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

span {
  color: blueviolet;
}

img {
 border: 3px solid blueviolet;
 border-radius: 20px;
}

.dark-mode-btn {
  background-color: rgb(250, 245, 255);
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode-btn:hover {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(35, 0, 70);
  cursor: pointer;
}

#heading-1 {
  margin-bottom: 0px;
}

.heading-2 {
  margin-top: 0px;
}

.role {
  margin-bottom: 0px;
}

.experience {
  margin-top: 0px;
}

.pic-btn {
  background-color: rgb(250, 245, 255);
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin-top: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pic-btn:hover {
  background-color: blueviolet;
  color: rgb(245, 230, 255);
  border: 2px solid rgb(35, 0, 70);
  cursor: pointer;
}

/* HEADER & NAV */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}